#timer {
  background-color: wheat;
  padding: black;
  border-radius: black;
  padding-left: 90%;
}

.content {
  background-color: wheat;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  width: 500px;
  height: 300px;
}

.questionNumber {
  background-color: whitesmoke;
  display: flex;
  padding-left: 40px;
}

.head {
  display: block;
  background-color: slategray;
}

.displayQuestion {
  background-color: whitesmoke;
  padding-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  border-radius: 5cm;
}

#startBtn {
  display: flex;
}
.section {
  border: black;
}

.highScore {
  padding-left: 100 px;
}
