#timer {
  background-color: wheat;
  padding: black;
  border-radius: black;
  padding-left: 90%;
}

.content {
  background-color: wheat;
}

.questionNumber {
  background-color: whitesmoke;
  display: flex;
  padding-left: 40%;
}

.head {
  display: block;
  background-color: slategray;
}

.displayQuestion {
  background-color: slategray;
  padding-left: 10%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: black;
  border-radius: 5cm;
}

#startBtn {
  display: flex;
}
